* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #8c8c8c;
}
body i.arrowUp {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-top: 0px;
    border-radius: 3px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 27px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    z-index: 1;
}
body>a {
    position: fixed;
    top: 20%;
    z-index: 3;
    padding: 12px;
    top: 15%;
    left: 0;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.97);
}
body>a i.setting {
    animation: settingAnimation 2s linear infinite;
    font-size: 20px;
    color: #69B417;
}
@keyframes settingAnimation {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}
nav.fixedNav {
    position: fixed;
    width: 100%;
    z-index: 2;
}

/* Upper Navigation */

nav.upper {
    background-color: #3B3B3B;
    /* position: fixed; */
    width: 100%;
}
nav.upper .row .col-md-3 ul {
    display: flex;
    padding-top: 10px;
}

nav.upper .row .col-md-3 ul li {
    padding: 0 5px 0px 2px;
}

nav.upper .row .col-md-3 ul li a i {
    font-size: 13px;
    background-color: #484848;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
}

nav.upper .row .col-md-3 ul li a i:hover {
    background-color: #454545;
}
nav.upper .container .row .col-md-9 form {
    padding: 10px 15px;
}

nav.upper .input-group {
    width: 100%;
}

nav.upper .input-group input, nav.upper .input-group span button {
    border: none;
    box-shadow: none;
    background-color: #484848;
    height: 30px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

nav.upper .input-group input {
    color: #bbbbbb;
}

nav.upper .input-group span button {
    color: #6e6e6e;
    margin-left: -1px;
}

nav.upper .col-md-9 {
    display: flex;
    justify-content: flex-end;
}

nav.upper .col-md-9 ul li {
    margin-right: 20px;
    padding-top: 12px;
}

nav.upper .container .row .col-md-9 ul {
    display: flex;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    margin-right: -15px;
}

nav.upper .container .row .col-md-9 ul li a {
    font-size: 11px;
    color: #FFF;
    font-weight: normal;
    line-height: 20px;
    padding: 10px 15px;
}

nav.upper .container .row .col-md-9 ul li .btn-primary {
    color: #FFF;
    background-color: #69B417;
    border-color: #5c9d14;
    font-size: 11px;
}

/* End of Upper Navigation */

/* Middle Navigation */

nav.middle {
    width: 100%;
    background-color: white;
    z-index: 1;
    /* top: 58px; */
    padding: 1% 0;
    border-bottom: 1px solid #eaeaea;
}

img {
    float: left;
}

nav.middle .container ul {
    float: right;
    width: 100%;
    position: relative;
}

nav.middle .container ul li {
    float: right;
    margin-right: 3%;
    position: relative;
}

nav.middle .container ul .list {
    position: relative;
    top: -5px;
    margin-right: 0;
    font-size: 20px;
    display: none;
    border: none;
    background: #f3f3f3;
    border-radius: 4px;
    z-index: 2;
}

nav.middle .container ul .list a i {
    margin: 10px 15px 0 15px;
    z-index: 2;
}

nav.middle a {
    color: #3b3b3b;
    text-transform: uppercase;
    font-size: 13px;
}

nav.middle a:hover {
    color: #69B417;
    text-decoration: none;
}

nav.middle .container .row .col-md-9 ul li .dropdown {
    position: absolute;
    left: -20px;
    top: 60px;
    background-color: white;
    padding: 20px;
    padding-right: 60px;
    padding-top: 10px;
    box-shadow: 0 0 20px #ccc;
    visibility: hidden;
}

nav.middle .container .row .col-md-9 ul li .dropdown ul li {
    margin-top: 10px;
}

nav.middle .container .row .col-md-9 ul li .dropdown ul {
    display: flex;
    flex-flow: column wrap;
}

nav.middle .container .row .col-md-9 ul li:hover>.dropdown {
    visibility: visible;
}

/* End of Middle Navigation */

.breadcrumb {
    padding: .25rem 1rem;
    margin-bottom: 0;
}

nav.breadcrumb {
    position: absolute;
    top: 18.2%;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
    background-color: #fefefe;
    z-index: -1;
}

nav.breadcrumb .container ol {
    background-color: transparent;
}

nav.breadcrumb .container ol li a {
    color: #69B417;
}

nav.breadcrumb .container ol li a:hover {
    text-decoration: none;
    color: #5c9d14;
}

main .row .col-md-9 .mainSection .belowButtons {
    display: flex;
    justify-content: space-between;
}

main .container .row .col-md-9 .mainSection .text h1 {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.4;
    color: #737373;
}

main .container .row .col-md-9 .mainSection .text p.lead {
    margin: 0 0 10px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #ababab;
}

main .container .row .col-md-9 .mainSection .text p.postInfo {
    font-size: 16px;
}

main .container .row .col-md-9 .mainSection .text p.postInfo>span {
    margin-right: 15px;
    font-size: 13px;
    color: #bfbfbf;
}

main .container .row .col-md-9 .mainSection .text p.postInfo>span>i {
    font-size: 15px;
    margin-right: 8px;
}

main .container .row .col-md-9 .mainSection .text p.postInfo>span a {
    color: #bfbfbf;
    text-decoration: underline;
}

main .container .row .col-md-9 .mainSection .text img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}

main .container .row .col-md-9 .mainSection .text .source {
    font-size: 12px;
    color: #aaaaaa;
    margin-bottom: 30px;
}

main .container .row .col-md-9 .mainSection .text .source a {
    color: #69B417;
    text-decoration: none;
}

main .container .row .col-md-9 .mainSection .text .content {
    font-size: 16px;
    margin-bottom: 50px;
}

main .container .row .col-md-9 .mainSection .text .content p {
    margin: 0 0 10px;
}
main .container .row .col-md-9 .mainSection .text .content p>a {
    color: #69B417;
    text-decoration: none;
}
main .container .row .col-md-9 .mainSection .text .content blockquote{
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}
main .container .row .col-md-9 .mainSection .belowButtons{
    margin-bottom: 60px;
}
main .container .row .col-md-9 .mainSection .belowButtons .rightButtons{
    text-align: right;
}
main .container .row .col-md-9 .mainSection .belowButtons .leftButtons ul li{
    display: inline-block;
}
main .container .row .col-md-9 .mainSection .belowButtons .leftButtons ul li a{
    border-radius: 2px;
    display: block;
    margin-bottom: 5px;
    padding: 4px 10px;
    background-color: #f2f2f2;
    color: #8c8c8c;
    text-decoration: none;
}
main .container .row .col-md-9 .mainSection .belowButtons .leftButtons ul li a:hover{
    background-color:#69b417;
    color: white;
}
main .container .row .col-md-9 .mainSection .belowButtons .leftButtons ul li{
    margin-right: 5px;
}
main .container .row .col-md-9 .mainSection .belowButtons .rightButtons span{
    margin-bottom: 0;
    margin-right: 8px;
    font-size: 16px;
    color: #636363;
    font-weight: bold;
}
main .container .row .col-md-9 .mainSection .belowButtons .rightButtons ul li{
    padding: 0 2px 5px 2px;
}
main .container .row .col-md-9 .mainSection .belowButtons .rightButtons a{
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    text-align: center;
    color: #FFF;
    width: 30px;
    height: 30px;
    line-height: 28px;
    margin-right: 3px;
}
main .container .row .col-md-9 .mainSection .belowButtons .rightButtons a:nth-of-type(1){
    background-color: #3b5998 !important;
}
main .container .row .col-md-9 .mainSection .belowButtons .rightButtons a:nth-of-type(2){
    background-color: #55acee !important;
}
main .container .row .col-md-9 .mainSection .belowButtons .rightButtons a:nth-of-type(3){
    background-color: #f26522 !important;
}
main .container .row .col-md-9 .mainSection .belowButtons .rightButtons a:nth-of-type(4){
    background-color: #dc4e41 !important;
}
main .container .row .col-md-9 .mainSection .aboutAuthor{
    margin-top: 15px;
    margin-bottom: 30px;
    overflow: hidden;
}
main .container .row .col-md-9 .mainSection .aboutAuthor .row .col-10{
    padding-left: 30px;
}
main .container .row .col-md-9 .mainSection .aboutAuthor h4 a{
    font-size: 22px;
    text-decoration: none;
    color: inherit;
}
main .container .row .col-md-9 .mainSection .aboutAuthor p{
    font-size: 16px;
    color: #ababab;
    margin: 0 0 10px;
}
main .container .row .col-md-9 .mainSection .aboutAuthor img{
    border-radius: 50%;
    vertical-align: middle;
}
main .container .row .col-md-9 .mainSection .relatedArticles{
    margin-bottom: 50px;
}
main .container .row .col-md-9 .mainSection .relatedArticles h3{
    margin-bottom: 30px;
    margin-top: 50px;
    color: #636363;
    font-size: 24px;
}
main .container .row .col-md-9 .mainSection .relatedArticles .row .col-md-4 img{
    width: 275px;
    max-width: 100%;
    vertical-align: middle;
}
main .container .row .col-md-9 .mainSection .relatedArticles .row .col-md-4 p a{
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    color: #737373;
}
main .container .row .col-md-9 .mainSection .relatedArticles .row .col-md-4 p a:hover{
    color: #69B417;
    text-decoration: none;
}
main .container .row .col-md-9 .commentsSection h2{
    margin-bottom: 30px;
    margin-top: 20px;
    color: #636363;
    font-weight: 700;
    font-size: 24px;
}
main .container .row .col-md-9 .commentsSection .row{
    margin-top: 50px;
    overflow: hidden;
}
main .container .row .col-md-9 .commentsSection .row .col-1{
    padding-left: -10px;
}
main .container .row .col-md-9 .commentsSection .row img{
    border-radius: 50%;
    display: block;
    width: 45px;
    height: 45px;
}
main .container .row .col-md-9 .commentsSection .row .col-11 p>a{
    color: #636363;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
}
main .container .row .col-md-9 .commentsSection .row .col-11 p>span{
    font-size: 12px;
    color: #bfbfbf;
}
main .container .row .col-md-9 .commentsSection .row .col-11 p:nth-child(2){
    margin: 0 0 10px;
}
main .container .row .col-md-9 .commentsSection .row .col-11 p:nth-child(3) a{
    font-weight: normal;
    color: #69B417;
}
main .container .row .col-md-9 .commentsSection .row .col-11 p:nth-child(3) a:hover{
    color: #61A513;
}
main .container .row .col-md-9 .commentsSection .row .col-11 p:nth-child(3) i{
    color: #69B417;
}
main .container .row .col-md-9 .commentsSection .row .col-11 .reply{
    padding: 15px;
    background: #F8F8F8;
    margin-top: 50px;
    overflow: hidden;
}
main .container .row .col-md-9 .commentsSection .row .col-11 .reply .col-11 p:nth-child(4) a{
    color: #69B417;
    font-weight: normal;
}
main .container .row .col-md-9 .commentsSection .row .col-11 .reply .col-11 p:nth-child(4) i{
    color: #69B417;
}
main .container .row .col-md-9 .commentsSection .row:nth-of-type(2) .col-1 a span{
    display: inline-block;
    font-size: 18px;
    background-color: #ccc;
    color: #8c8c8c;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
main .container .row .col-md-9>button{
    display: block;
    color: #888;
    border-color: #a5a5a5;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    margin: auto;
}
main .container .row .col-md-9 .newComment{
    padding: 40px 0;
}
main .container .row .col-md-9 .newComment h2{
    margin-bottom: 30px;
    color: #636363;
    font-size: 24px;
    margin-top: 20px;
}
main .container .row .col-md-9 .newComment p{
    margin: 0 0 10px;
}
main .container .row .col-md-9 .newComment input,
main .container .row .col-md-9 .newComment textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 6px 12px;
}
main .container .row .col-md-9 .newComment input{
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
}
main .container .row .col-md-9 .newComment textarea{
    line-height: 20px;
    font-size: 14px;
    height: auto;
    border-radius: 3px;
    border-color: #dedede;
    color: inherit;
}
main .container .row .col-md-9 .newComment .btn-success{
    color: #FFF;
    background-color: #69B417;
    border-color: #5c9d14;
    border-radius: 2px;
}

main .container .row .col-md-3 .widget{
    margin-bottom: 60px;
}
main .container .row .col-md-3 .widget h4{
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
    color: #636363;
}
main .container .row .col-md-3 .widget .row .col-md-4 img{
    width: 100%;
}
main .container .row .col-md-3 .widget .row .col-md-8 a{
    color: #878787;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}
main .container .row .col-md-3 .widget .row .col-md-8 .date{
    font-size: 12px;
    color: #bfbfbf;
    margin-top: 0;
}
main .container .row .col-md-3 .widget ul li a{
    display: block;
    padding: 10px 0;
    color: inherit;
    font-weight: 600;
}
main .container .row .col-md-3 .widget ul li a:hover{
    text-decoration: none;
    color: #69B417;
}
main .container .row .col-md-3 .widget .btn-success{
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 4px 10px;
    background-color: #f2f2f2;
    color: #8c8c8c;
    border: none;
}
main .container .row .col-md-3 .widget .btn-success:hover{
    color: white;
    background-color: #69B417;
}
main .container .row .col-md-3 .widget input{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
}
main .container .row .col-md-3 .widget .input-group-text{
    color: #FFF;
    background-color: #69B417;
    border-color: #5c9d14;
    height: 34px;
    cursor: pointer;
}
footer{
    padding: 60px 0 15px 0;
    background-color: #F8F8F8;
    color: #8c8c8c;
    margin-top: 60px;
}
footer .row .col-md-4:nth-child(1) p{
    margin: 0 0 10px;
}
footer .row .col-md-4:nth-child(1) p a{
    color: #69B417;
    text-decoration: none;
}
footer .row .col-md-4:nth-child(1) p>i{
    color: #69B417;   
}
footer .row .col-md-4:nth-child(2) h4{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #636363;
}
footer .row .col-md-4:nth-child(2) h4::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 18px;
    background-color: #69B417;
}
footer .row .col-md-4:nth-child(2) .wrapper{
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
}
footer .row .col-md-4:nth-child(2) .wrapper:last-of-type{
    border-bottom:none;
}
footer .row .col-md-4:nth-child(2) .wrapper h5{
    margin-bottom: 3px;
    font-family: Lato, sans-serif;
    font-weight: 500;
    color: #636363;
    font-size: 14px;
    margin-top: 10px;
}
footer .row .col-md-4:nth-child(2) .wrapper h5 a{
    color: #8c8c8c;
    text-decoration: none;
}
footer .row .col-md-4:nth-child(2) .wrapper h5 a:hover{
    text-decoration: underline;
}
footer .row .col-md-4:nth-child(2) .wrapper p{
    font-size: 12px;
    color: #bfbfbf;
}
footer .row .col-md-4:nth-child(3) h6{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
    color: #636363;
    margin-top: 10px;
}
footer .row .col-md-4:nth-child(3) h6::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 18px;
    background-color: #69B417;
}
footer .row .col-md-4:nth-child(3) ul li{
    padding: 0 2px 5px 2px;
    display: inline-block;
}
footer .row .col-md-4:nth-child(3) ul li a{
    width: 30px;
    height: 30px;
    line-height: 28px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    text-align: center;
    background-color: #858D90;
    color: #FFF;
}
footer .row .col-md-4:nth-child(3) h6:nth-of-type(2){
    margin-top: 50px;
}
footer .row .col-md-4:nth-child(3) p{
    margin: 0 0 10px;
}
footer .row .col-md-4:nth-child(3) input{
    font-size: 14px;
    height: 46px;
    padding: 10px 16px;
    border-radius: 6px;
    margin-bottom: 0;
    box-shadow: none;
    border-color: #dedede;
    color: inherit;
    background-color: #fff;
    border: 1px solid #ccc;
}
footer .row .col-md-4:nth-child(3) .input-group-append span{
    color: #FFF;
    background-color: #69B417;
    border-color: #5c9d14;
    cursor: pointer;
}
footer .footerBottom{
    padding-top: 20px;
    border-top: 1px solid #bfbfbf;
}
footer .footerBottom p{
    font-size: 12px;
    margin: 0 0 10px;
}
footer .footerBottom .col-md-6:nth-of-type(2){
    display: flex;
    justify-content: flex-end;
}
footer .footerBottom .col-md-6:nth-of-type(2) ul{
    display: flex;
    margin-bottom: 10px;
}
footer .footerBottom .col-md-6:nth-of-type(2) ul li{
    padding: 0 10px;
}
footer .footerBottom .col-md-6:nth-of-type(2) ul li a{
    color: #8c8c8c;
    font-size: 13px;

}
